.About {
  background-color: rgba(217, 217, 217, 0.663);
  min-height: 100vh;
}

.profile {
  width: 200px;
  height: 200px;
  background-color: var(--primary-color);
  background-image: url("../../images/profile.jpg");
  background-size: cover;
  background-position: top center;
  background-blend-mode: luminosity;
}
