.Home {
  min-height: 100vh;
  background-image: var(--home-gradient-bg);
  position: relative;
  overflow: hidden;
}

.Home__texture {
  background: url(../../images/large-leather.png);
  min-height: 100vh;
  background-repeat: repeat;
  background-size: 120px 100px;
}

.Home img {
  position: absolute;
  right: -100px;
  bottom: -7%;
  width: 420px;
  height: 540px;
  z-index: 1;
}

.Home__content-text {
  padding: 4rem 4rem;
}

.Home__content-text h1 {
  font-family: "Teko";
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
}

.Home__content-text h1:nth-child(1) {
  color: var(--header-action-text-color);
  text-shadow: 0px 0px 4px var(--text-color);
}

.Home__content-text h1:nth-child(2) {
  color: var(--text-color);
}

.Home__content-text p {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;

  color: var(--text-color);
}

.Home__content-text a {
  display: block;
  text-decoration: none;
  margin-top: 4rem;
  padding: 0.5rem 0.8rem;
  background-color: rgb(1, 59, 55);
  width: 200px;
  text-align: center;
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: var(--text-color);
  border: 2px solid var(--text-color);
  /* clip-path: polygon(16% 0, 100% 0%, 86% 100%, 0% 100%); */
}

.Home__content-text a:hover {
  /* color: var(--header-action-text-color);
  background-color: var(--text-color);
  border: 3px solid var(--header-action-text-color); */
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .Home img {
    position: absolute;
    right: -100px;
    bottom: -7%;
    width: 420px;
    height: 500px;
    z-index: 1;
  }
}

@media screen and (max-width: 900px) {
  .Home img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .Home__content-text h1 {
    font-size: 60px;
    line-height: 75px;
  }

  .Home__content-text {
    padding: 4rem 2rem 0;
  }
}
