.Blogs {
  background-color: rgba(217, 217, 217, 0.663);
  min-height: 100vh;
}

.react-confirm-alert-overlay {
  background: rgb(203, 255, 250);
}

.react-confirm-alert-body > h1 {
  color: var(--bs-green) !important;
}

.react-confirm-alert-button-group > button:nth-child(1) {
  background: var(--bs-success) !important;
  color: var(--bs-light) !important;
}

.react-confirm-alert-button-group > button:nth-child(2) {
  background: var(--bs-gray-400) !important;
  color: var(--bs-dark) !important;
}
