.carousel-item .image {
  min-height: 350px;
  height: calc(100vh - 76px);
  background-color: rgba(0, 0, 0, 0.64);
  background-blend-mode: multiply;
  background-size: cover;
}

.carousel-item:nth-child(1) .image {
  background-image: url("../../images/lg-1.jpg");
}
.carousel-item:nth-child(2) .image {
  background-image: url("../../images/lg-2.jpg");
}
.carousel-item .image {
  background-image: url("../../images/lg-3.jpg");
}

/* Carousel caption  */
.carousel-caption {
  top: 30%;
}

@media screen and (max-width: 1200px) {
  .carousel-item .image {
    height: calc(100vh - 74px);
  }
}

@media screen and (max-width: 992px) {
  .carousel-item .image {
    height: calc(100vh - 73px);
  }
}

@media screen and (max-width: 768px) {
  .carousel-item:nth-child(1) .image {
    background-image: url("../../images/sm-1.jpg");
  }
  .carousel-item:nth-child(2) .image {
    background-image: url("../../images/sm-2.jpg");
  }
  .carousel-item:nth-child(3) .image {
    background-image: url("../../images/sm-3.jpg");
  }

  .carousel-item .image {
    height: calc(100vh - 72px);
  }
}
