.Blog {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.Blog img {
  width: 100%;
}

.btn.rounded-btn {
  border-radius: 50% !important;
  padding: 0;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 768px) {
  .Blog img {
    border-radius: 0;
    border-bottom-left-radius: var(--bs-border-radius-sm);
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px;
    border-top-right-radius: var(--bs-border-radius-sm);
  }
}

.read-more {
  border-radius: 0;
  border-top-left-radius: var(--bs-border-radius-lg) !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px;
  border-top-right-radius: var(--bs-border-radius-lg) !important;
}
