* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(1, 138, 129);
  --text-color: #dde3e1;
  --home-gradient-bg: conic-gradient(
    from 200.57deg at 94.65% -21.22%,
    #20221f 0deg,
    var(--primary-color) 360deg
  );
  --header-action-text-color: #041d22;
}
